@tailwind base;
@tailwind components;
@tailwind utilities;


.leaflet-container{
  height: 100%;

}
#selectheader{
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: center;
  border-radius: 2px;
}
select {
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: center;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin: auto;

}

.carousel .control-prev.control-arrow:before {

  border-right: 8px solid Black !important;
}
.carousel .control-prev.control-arrow:enabled::before {
  margin-bottom: 10px;
}
.carousel .control-prev.control-arrow:enabled{
  margin: auto;
  border-radius: 2rem;
  height: 2rem;
  opacity: 1;
  background-color: white;

}

.carousel .control-prev.control-arrow:enabled:hover{
  margin: auto;
  border-radius: 2rem;
  height: 2rem;
  opacity: 1;
  background-color: white;

}

.carousel .control-next.control-arrow:before{
  border-left: 8px solid Black !important;

}
.carousel .control-next.control-arrow:enabled::before {
  margin-bottom: 10px;
}
.carousel .control-next.control-arrow:enabled{
  margin: auto;
  border-radius: 2rem;
  height: 2rem;
  opacity: 1;
  background-color: white;

}
.carousel .control-next.control-arrow:enabled:hover{
  margin: auto;
  border-radius: 2rem;
  height: 2rem;
  opacity: 1;
  background-color: white;

}

.carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before
{
margin-bottom: 10px;
margin-right: 5px;
margin-left: 5px;
}
.carousel .control-dots .dot.selected{
  width: 40px;
  border-radius: 2rem;
}





@font-face {
    font-family: "Montserrat-Black";
    src: url("./Fonts/Montserrat/Montserrat-Black.ttf");
  }


  @font-face {
    font-family: "Montserrat-BlackItalic";
    src: url("../src/Fonts/Montserrat/Montserrat-BlackItalic.ttf");
  }
  @font-face {
    font-family: "Montserrat-Bold";
    src: url("../src/Fonts/Montserrat/Montserrat-Bold.ttf");
  }
  @font-face {
    font-family: "Montserrat-BoldItalic";
    src: url("../src/Fonts/Montserrat/Montserrat-BoldItalic.ttf");
  }
  @font-face {
    font-family: "Montserrat-ExtraBold";
    src: url("../src/Fonts/Montserrat/Montserrat-ExtraBold.ttf");
  }
  @font-face {
    font-family: "Montserrat-ExtraBoldItalic";
    src: url("../src/Fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf");
  }
  @font-face {
    font-family: "Montserrat-Light";
    src: url("../src/Fonts/Montserrat/Montserrat-Light.ttf");
  }
  @font-face {
    font-family: "Montserrat-ExtraLightItalic";
    src: url("../src/Fonts/Montserrat/Montserrat-ExtraLightItalic.ttf");
  }
  @font-face {
    font-family: "Montserrat-ExtraLight";
    src: url("../src/Fonts/Montserrat/Montserrat-ExtraLight.ttf");
  }
  @font-face {
    font-family: "Montserrat-LightItalic";
    src: url("../src/Fonts/Montserrat/Montserrat-ExtraLightItalic.ttf");
  }
  @font-face {
    font-family: "Montserrat-Medium";
    src: url("../src/Fonts/Montserrat/Montserrat-Medium.ttf");
  }
  @font-face {
    font-family: "Montserrat-MediumItalic";
    src: url("../src/Fonts/Montserrat/Montserrat-MediumItalic.ttf");
  }
  @font-face {
    font-family: "Montserrat-Regular";
    src: url("../src/Fonts/Montserrat/Montserrat-Regular.ttf");
  }
  @font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../src/Fonts/Montserrat/Montserrat-SemiBold.ttf");
  }
  @font-face {
    font-family: "Montserrat-SemiBoldItalic";
    src: url("../src/Fonts/Montserrat/Montserrat-SemiBoldItalic.ttf");
  }
  @font-face {
    font-family: "Montserrat-Thin";
    src: url("../src/Fonts/Montserrat/Montserrat-Thin.ttf");
  }
  @font-face {
    font-family: "Montserrat-ThinItalic";
    src: url("../src/Fonts/Montserrat/Montserrat-ThinItalic.ttf");
  }



  @font-face {
    font-family: "Poppins-Black";
    src: url("./Fonts/Poppins/Poppins-Black.ttf");
  }


  @font-face {
    font-family: "Poppins-BlackItalic";
    src: url("../src/Fonts/Poppins/Poppins-BlackItalic.ttf");
  }
  @font-face {
    font-family: "Poppins-Bold";
    src: url("../src/Fonts/Poppins/Poppins-Bold.ttf");
  }
  @font-face {
    font-family: "Poppins-BoldItalic";
    src: url("../src/Fonts/Poppins/Poppins-BoldItalic.ttf");
  }
  @font-face {
    font-family: "Poppins-ExtraBold";
    src: url("../src/Fonts/Poppins/Poppins-ExtraBold.ttf");
  }
  @font-face {
    font-family: "Poppins-ExtraBoldItalic";
    src: url("../src/Fonts/Poppins/Poppins-ExtraBoldItalic.ttf");
  }
  @font-face {
    font-family: "Poppins-Light";
    src: url("../src/Fonts/Poppins/Poppins-Light.ttf");
  }
  @font-face {
    font-family: "Poppins-ExtraLightItalic";
    src: url("../src/Fonts/Poppins/Poppins-ExtraLightItalic.ttf");
  }
  @font-face {
    font-family: "Poppins-ExtraLight";
    src: url("../src/Fonts/Poppins/Poppins-ExtraLight.ttf");
  }
  @font-face {
    font-family: "Poppins-LightItalic";
    src: url("../src/Fonts/Poppins/Poppins-ExtraLightItalic.ttf");
  }
  @font-face {
    font-family: "Poppins-Medium";
    src: url("../src/Fonts/Poppins/Poppins-Medium.ttf");
  }
  @font-face {
    font-family: "Poppins-MediumItalic";
    src: url("../src/Fonts/Poppins/Poppins-MediumItalic.ttf");
  }
  @font-face {
    font-family: "Poppins-Regular";
    src: url("../src/Fonts/Poppins/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: "Poppins-SemiBold";
    src: url("../src/Fonts/Poppins/Poppins-SemiBold.ttf");
  }
  @font-face {
    font-family: "Poppins-SemiBoldItalic";
    src: url("../src/Fonts/Poppins/Poppins-SemiBoldItalic.ttf");
  }
  @font-face {
    font-family: "Poppins-Thin";
    src: url("../src/Fonts/Poppins/Poppins-Thin.ttf");
  }
  @font-face {
    font-family: "Poppins-ThinItalic";
    src: url("../src/Fonts/Poppins/Poppins-ThinItalic.ttf");
  }

